<configuration>
    <appSettings>
        <add key="DatabaseProviderTests.DefaultConfigurationFilesPath" value="..\SampleDatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.BaseFilesPath" value="..\SampleDatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.TransactionServiceFilesPath" value="..\SampleDatabaseProvider.Tests\TransactionService"/>
        <add key="DatabaseProviderTests.ExecutionServiceFilesPath" value="..\SampleDatabaseProvider.Tests\ExecutionService"/>
        <add key="DatabaseProviderTests.DMLServiceFilesPath" value="..\SampleDatabaseProvider.Tests\DMLService"/>
        <add key="DatabaseProviderTests.IntrospectionServiceFilesPath" value="..\SampleDatabaseProvider.Tests\IntrospectionService"/>
        <add key="DatabaseProviderTests.ConfigurationServiceFilesPath" value="..\SampleDatabaseProvider.Tests\ConfigurationService"/>
    </appSettings>
</configuration> 
