<configuration>
    <appSettings>
        <add key="DatabaseProviderTests.DefaultConfigurationFilesPath" value="..\iDB2DatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.BaseFilesPath" value="..\iDB2DatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.TransactionServiceFilesPath" value="..\iDB2DatabaseProvider.Tests\TransactionService"/>
        <add key="DatabaseProviderTests.ExecutionServiceFilesPath" value="..\iDB2DatabaseProvider.Tests\ExecutionService"/>
        <add key="DatabaseProviderTests.DMLServiceFilesPath" value="..\iDB2DatabaseProvider.Tests\DMLService"/>
        <add key="DatabaseProviderTests.IntrospectionServiceFilesPath" value="..\iDB2DatabaseProvider.Tests\IntrospectionService"/>
        <add key="DatabaseProviderTests.ConfigurationServiceFilesPath" value="..\iDB2DatabaseProvider.Tests\ConfigurationService"/>
    </appSettings>
</configuration> 
