<configuration>
    <appSettings>
        <add key="DatabaseProviderTests.DefaultConfigurationFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.BaseFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.TransactionServiceFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\TransactionService"/>
        <add key="DatabaseProviderTests.ExecutionServiceFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\ExecutionService"/>
        <add key="DatabaseProviderTests.DMLServiceFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\DMLService"/>
        <add key="DatabaseProviderTests.IntrospectionServiceFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\IntrospectionService"/>
        <add key="DatabaseProviderTests.ConfigurationServiceFilesPath" value="..\DB2ZOSDatabaseProvider.Tests\ConfigurationService"/>
    </appSettings>
</configuration> 
